*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    

}
body{
    color: #ededed;
    background-color: #000000;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 10;
    background-color: rgb(247, 15, 115);
   

}
body{
    height: 3500px;
}
a.logo {
    
   transition: .3s ease;
    font-size: 29px;
    color: #060636;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
   
}
.logo:hover{
    transform: scale(1.1);
    color: crimson;
}

.navbar a{
    display: inline-flex;
    font-size: 25px;
 color: #ededed;
 text-decoration: none;
    margin: 0px 35px ;
    transition: .3s;

}
.navbar a:hover{
    color: #0ef;
    transform: scale(1.1);
}

.home{
    text-align: left;
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
   
    background-color:#000000 ;
    z-index: 6;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}



.home-content{
    max-width: 600px;
margin: 0;
border: 0;
padding: 0;
}
.home-content h3{
    font-size: 36px;
    font-weight: 600;
}


.home-content h2{
font-size: 56px;
font-weight: 700;
margin-left: -5px;
}

.home-content p{
font-size: 20px;



}
.id{
    position: absolute;
    top: 600px;

}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    background:;
    border: 2px solid #0ef;
    border-radius: 50%;
    text-decoration: none;
    color: chocolate;
    margin: 30px 15px 60px 0;
    z-index: 100;


}

.home-sci a:hover{

    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px  #0ef;
}

.btn-box{
    border: 5PX solid white;
   padding: 12px 20px;
   background: black;
   border-radius: 40PX;
   text-decoration: none;
   color:aqua;
   font-weight: 700;
   letter-spacing: 1PX;
   margin-right: 10px;
   transition:  .4s ease-in-out ;
}
.btn-box:hover{
    border: none;
    transform: scale(1.5);
    background-color: aqua;
    color: black;
    box-shadow: 0 0 5px  #00ff51,0 0 25px #00ff51,
    0 0 50px #00ff51;
}



.home-img{
  
    width:20vw;
    border-radius: 50%;
    border: 5px solid; 
   transition: .3s ease-in-out;
   margin-right: 200px;

}
.home-img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px AQUA,0 0 25px AQUA,
    0 0 50px #00ff51;

}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: rgb(3, 30, 8);
    width: 100%;
    height: 100vh;

}

.abt-img{
    float: left;
    width:400px;
    border-radius: 50%;
    border: 5px solid; 
   transition: .3s ease-in-out;
   margin-left: 4px;  
  
  
   transition: .4s ease-in-out;
   margin-right: 100px;
   
}

.abt-img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px AQUA,0 0 25px AQUA,
    0 0 50px AQUA;

}
.about-content h2{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 7rem;
    text-align: left;
}

.about-content p{
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin-bottom: 26px;
}

.heading{
    font-size: 7rem;
    text-align: center;
    margin:0 5rem ;
    margin-top: 0px;
  

}
.services h2{
    color:#0ef;
    margin-bottom: 50px;
}
.services{
    
margin-bottom: 100px;
    
}

.services-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 2.5rem;
align-items: ;  
height: 600px;
}

.services-box{
color: #000000;
    background-color: #00ff51;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    cursor: pointer;
    transition: .5s ease-in-out;
    border: 5px solid transparent;

}
.services-box:hover{
    transform: scale(1.1);
    border: 5px solid #00ff51;
    color: #0ef;
    background-color: black;
}

.services-box h4{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 9px;
}

.services-info{

    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;




}

.contact h2{
    margin-bottom: 3rem;
    color:#0ef;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    gap: 3rem;
}

.input-box input,
 textarea{

    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: antiquewhite;
    background-color: #000000;
    border: 5px #00ff51 solid;
border-radius: 10px;
margin: 10px;
resize: none;
}

.btn-box-1{
    
        border: 5px solid white;
       padding: 12px 20px;
       background: black;
       border-radius: 40PX;
       text-decoration: none;
       color:#00ff51;
       font-weight: 700;
       letter-spacing: 1PX;
       margin-right: 10px;
       transition:  .4s ease-in-out ;
       
    }
    .btn-box-1:hover{
        background-color: #0ef;
        color: #000000;
        box-shadow: 0 0 5px  #00ff51,0 0 25px #00ff51,
        0 0 50px #00ff51;
    }
       
    }
    .list{
        text-align: center;
        font-size: 1.8rem;
        color: #000000;
        text-decoration: none;
    }
    .footer  ul li{
        
        display:inline-block;
   margin-left: 20px;
   margin-bottom: 16px;
   border-bottom: 3px solid transparent;
    }

    .footer a:hover{

       

    }
    .footer .copyright{
        text-align: center;
        margin-top: 40px;
        font-size: 16px;

    }
.navbar-1{
    
    position: absolute;
    
    margin-left: 35%;
}

.navbar-1 a{
    display: inline-block;
    
    font-size: 25px;
 color: #ededed;
 text-align: center;
 text-decoration: none;
    margin: 0px 35px ;
    transition: .3s;

}
.navbar-1 a:hover{
    color: #fada06;
    
    transform: scale(1.1);
}
.home-sci-1{
width: 500px;
margin-left: 50px;
}

.home-sci-1 a{
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    background:;
    border: 2px solid #0ef;
    border-radius: 50%;
    text-decoration: none;
    color: chocolate;
    margin: 30px 15px 60px 0;
    z-index: 100;
    margin-right: 50px;
    margin-left: 4;



}

.home-sci-1 a:hover{

    background-color: rgb(26, 235, 57);
    color: #081b29;
    box-shadow: 0 0 20px  #0ef;
}



















